body {
  background-color: rgb(136, 133, 133);
}

.jumbotron {
  margin-bottom: 150px;
  opacity: 0.7;
  background-color: black;
  background: url(/assets/images/image-jumbotron.webp) no-repeat center center;
}

.jumbotron h1 {
    color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Carter One", cursive, sans-serif;
}

.lead {
  color: #fff;
  margin: 25px 0;
}

.jumbotron-terms {
  color: #fff;
  font-size: 20px;
}

.block-divider--GREY {
  color: #fff;
}

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #fff;
}

.container{
text-align: center;
margin: auto;
padding: 20px;


}
.images-on-slider {
  width: 100%;
  height: 400px;
  padding: 0px;
  position: center;
}
.quotes-footer {
  color: #fff;
}
.follow-us-footer {
  color: #fff;
}

.find-us-footer {
  color: #fff;
}

.find-us-links {
  color: #fff;
}

.facebook-icon,
.twitter-icon,
.linkedin-icon,
.instagram-icon {
  color: #fff;
}

.facebook-icon:hover {
  color: #9cfa76;
  transition: all 0.1s ease-in-out;
  transform: scale(1.6);
}
.twitter-icon:hover {
  color: #9cfa76;
  transition: all 0.1s ease-in-out;
  transform: scale(1.6);
}

.linkedin-icon:hover {
  color: #9cfa76;
  transition: all 0.1s ease-in-out;
  transform: scale(1.6);
}
.instagram-icon:hover {
  color: #9cfa76;
  transition: all 0.1s ease-in-out;
  transform: scale(1.6);
}
.footer-background {
  background-color: rgb(99, 97, 97);
}

.footer-text {
  color: #fff;
}
/*--Tour-page-*/

.tour-title-heading{
color: #fff;
text-align: center;
font-family: 'Tangerine', cursive;

}

.tour-text{
color: #fff;
font-family: 'Philosopher', sans-serif;
}

.heading-of-page{
color: #fff;
text-align: center;
font-family: 'Tangerine', cursive;

}


@media only screen and (max-width: 600px) {
    .find-us-footer{
    margin-bottom: 0px;
    padding: 0px;
  }
}
/*--Timetable-page-*/


